// Color 

$color-body: #4F4F4F;
$color-white: #FFFFFF;
$color-black: black;
$color-btn: #F05454;
$color-btn-hover: #e71c1c;
$color-sub-title: rgba(11, 19, 42, 1);
$color-icon: #151D0C;
$cart-color: #8A8E85;
$footer-color: #6B7280;